*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
}

#searchInput{
    padding: 10px;
    border: 1px solid #e0e0e0;
    outline: none;
}

.dropzone{
    width: 350px;
    padding: 10px;
    background-color: #e0e0e0;
}

.dropzone>h3{
    display: block;
    margin-bottom: 10px;
    padding: 8px 6px;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: #3bdd1a;
}

.draggable{
    margin-bottom: 10px;
    padding: 10px;
    border-radius:10px;
    background-color: #fff;
}

.btns{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:10px;
    border-top:1px solid #e0e0e0
}

.cancel{
    padding:10px 25px;
    border:1px solid red;
    background-color:white;
    color:red;
}

.accept{
    padding:10px 25px;
    background-color:blue;
    color:white;
    border:none;
}

.ready, .finish {
    width:100%;
    padding:10px;
    background-color:white;
    color:blue;
    border:1px solid blue;
}